<configuration>
    <timestamp key="bySecond" datePattern="yyyy-MM-dd'T'HH:mm:ss"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <logLevel/>
                <loggerName/>
                <threadName/>
                <message/>
                <pattern>
                    <pattern>{"service":"account-service"}</pattern>
                </pattern>
                <logstashMarkers/>
                <arguments/>
                <mdc>
                    <includeMdcKeyName>traceId</includeMdcKeyName>
                </mdc>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
